# Finding best car
## Show top cars with least monthly costs

In [1]:
from find_best_car import (
    _get_df_with_cost_to_own, 
    Column, 
    get_scored_df
)
import pandas as pd
from numpy import nan

import seaborn as sns

def coloraze(df, axis=1):
    cm = sns.light_palette("seagreen", as_cmap=True)
    return df.style.background_gradient(cmap=cm, axis=axis)

GROUP_COLS_MARK_SERIE_KW = [Column.MARK, Column.SERIE, Column.PERFORMANCE_KW]

df = _get_df_with_cost_to_own(de_discount=True)

g = df.groupby(GROUP_COLS_MARK_SERIE_KW, as_index=False)
costs_mean = g[[Column.TOTAL_PRICE, Column.MY_M_COSTS]].mean()
costs_mean.sort_values(Column.MY_M_COSTS).head(5).round(0)

<ipython-input-1-d1081bcfb441>:17: DtypeWarning: Columns (234,235,236,237) have mixed types.Specify dtype option on import or set low_memory=False.
  df = _get_df_with_cost_to_own(de_discount=True)

,Marke,Baureihe,Leistung maximal in kW (Systemleistung),Total price,my monthly costs
473,VW,ID.3 (ab 09/20),110,28660.0,364.0
472,VW,ID.3 (ab 09/20),107,32272.0,365.0
254,MINI,MINI (F56) Electric 3-Türer (ab 03/21),135,26540.0,369.0
425,Skoda,Octavia (IV) Limousine (ab 04/20),96,38027.0,371.0
474,VW,ID.3 (ab 09/20),150,36857.0,374.0

## Cars with lowest monthly costs

In [2]:
costs_mean.sort_values(Column.MY_M_COSTS).round(0).head(10)

,Marke,Baureihe,Leistung maximal in kW (Systemleistung),Total price,my monthly costs
473,VW,ID.3 (ab 09/20),110,28660.0,364.0
472,VW,ID.3 (ab 09/20),107,32272.0,365.0
254,MINI,MINI (F56) Electric 3-Türer (ab 03/21),135,26540.0,369.0
425,Skoda,Octavia (IV) Limousine (ab 04/20),96,38027.0,371.0
474,VW,ID.3 (ab 09/20),150,36857.0,374.0
175,Hyundai,IONIQ (AE) Elektro (ab 09/19),100,32469.0,375.0
18,Audi,A3 (8Y) Sportback g-tron (ab 10/20),96,38192.0,378.0
460,Toyota,Yaris (XP21) (ab 09/20),85,24380.0,381.0
410,Skoda,Enyaq iV (ab 04/21),109,30660.0,388.0
102,BMW,i3 (I01) (ab 11/17),125,31300.0,390.0

## Find missing data in input excel

In [3]:

df = get_scored_df(only_mentioned_cars=True, de_discount=True)

for col in df.columns:
    uniq_vals = df[col]
    if uniq_vals.isnull().values.any():
        print(f"Bad column: {col}")

/home/kirill/workspace/playground/auto/adac/best_car/find_best_car.py:371: DtypeWarning: Columns (234,235,236,237) have mixed types.Specify dtype option on import or set low_memory=False.
  _get_df_with_cost_to_own(
/home/kirill/workspace/playground/auto/adac/best_car/find_best_car.py:371: DtypeWarning: Columns (234,235,236,237) have mixed types.Specify dtype option on import or set low_memory=False.
  _get_df_with_cost_to_own(
/home/kirill/workspace/playground/auto/adac/best_car/find_best_car.py:371: DtypeWarning: Columns (234,235,236,237) have mixed types.Specify dtype option on import or set low_memory=False.
  _get_df_with_cost_to_own(
/home/kirill/workspace/playground/auto/adac/best_car/find_best_car.py:371: DtypeWarning: Columns (234,235,236,237) have mixed types.Specify dtype option on import or set low_memory=False.
  _get_df_with_cost_to_own(
/home/kirill/workspace/playground/auto/adac/best_car/find_best_car.py:371: DtypeWarning: Columns (234,235,236,237) have mixed types.Specify dtype option on import or set low_memory=False.
  _get_df_with_cost_to_own(
/home/kirill/workspace/playground/auto/adac/best_car/find_best_car.py:371: DtypeWarning: Columns (234,235,236,237) have mixed types.Specify dtype option on import or set low_memory=False.
  _get_df_with_cost_to_own(
/home/kirill/workspace/playground/auto/adac/best_car/find_best_car.py:371: DtypeWarning: Columns (234,235,236,237) have mixed types.Specify dtype option on import or set low_memory=False.
  _get_df_with_cost_to_own(
/home/kirill/workspace/playground/auto/adac/best_car/find_best_car.py:371: DtypeWarning: Columns (234,235,236,237) have mixed types.Specify dtype option on import or set low_memory=False.
  _get_df_with_cost_to_own(
/home/kirill/workspace/playground/auto/adac/best_car/find_best_car.py:371: DtypeWarning: Columns (234,235,236,237) have mixed types.Specify dtype option on import or set low_memory=False.
  _get_df_with_cost_to_own(
/home/kirill/workspace/playground/auto/adac/best_car/find_best_car.py:371: DtypeWarning: Columns (234,235,236,237) have mixed types.Specify dtype option on import or set low_memory=False.
  _get_df_with_cost_to_own(
/home/kirill/workspace/playground/auto/adac/best_car/find_best_car.py:371: DtypeWarning: Columns (234,235,236,237) have mixed types.Specify dtype option on import or set low_memory=False.
  _get_df_with_cost_to_own(
/home/kirill/workspace/playground/auto/adac/best_car/find_best_car.py:371: DtypeWarning: Columns (234,235,236,237) have mixed types.Specify dtype option on import or set low_memory=False.
  _get_df_with_cost_to_own(
/home/kirill/workspace/playground/auto/adac/best_car/find_best_car.py:371: DtypeWarning: Columns (234,235,236,237) have mixed types.Specify dtype option on import or set low_memory=False.
  _get_df_with_cost_to_own(
/home/kirill/workspace/playground/auto/adac/best_car/find_best_car.py:371: DtypeWarning: Columns (234,235,236,237) have mixed types.Specify dtype option on import or set low_memory=False.
  _get_df_with_cost_to_own(
/home/kirill/workspace/playground/auto/adac/best_car/find_best_car.py:371: DtypeWarning: Columns (234,235,236,237) have mixed types.Specify dtype option on import or set low_memory=False.
  _get_df_with_cost_to_own(
/home/kirill/workspace/playground/auto/adac/best_car/find_best_car.py:371: DtypeWarning: Columns (234,235,236,237) have mixed types.Specify dtype option on import or set low_memory=False.
  _get_df_with_cost_to_own(
/home/kirill/workspace/playground/auto/adac/best_car/find_best_car.py:371: DtypeWarning: Columns (234,235,236,237) have mixed types.Specify dtype option on import or set low_memory=False.
  _get_df_with_cost_to_own(
/home/kirill/workspace/playground/auto/adac/best_car/find_best_car.py:371: DtypeWarning: Columns (234,235,236,237) have mixed types.Specify dtype option on import or set low_memory=False.
  _get_df_with_cost_to_own(
/home/kirill/workspace/playground/auto/adac/best_car/find_best_car.py:371: DtypeWarning: Columns (234,235,236,237) have mixed types.Specify dtype option on import or set low_memory=False.
  _get_df_with_cost_to_own(
/home/kirill/workspace/playground/auto/adac/best_car/find_best_car.py:371: DtypeWarning: Columns (234,235,236,237) have mixed types.Specify dtype option on import or set low_memory=False.
  _get_df_with_cost_to_own(
/home/kirill/workspace/playground/auto/adac/best_car/find_best_car.py:371: DtypeWarning: Columns (234,235,236,237) have mixed types.Specify dtype option on import or set low_memory=False.
  _get_df_with_cost_to_own(
/home/kirill/workspace/playground/auto/adac/best_car/find_best_car.py:371: DtypeWarning: Columns (234,235,236,237) have mixed types.Specify dtype option on import or set low_memory=False.
  _get_df_with_cost_to_own(
/home/kirill/workspace/playground/auto/adac/best_car/find_best_car.py:371: DtypeWarning: Columns (234,235,236,237) have mixed types.Specify dtype option on import or set low_memory=False.
  _get_df_with_cost_to_own(
/home/kirill/workspace/playground/auto/adac/best_car/find_best_car.py:371: DtypeWarning: Columns (234,235,236,237) have mixed types.Specify dtype option on import or set low_memory=False.
  _get_df_with_cost_to_own(
/home/kirill/workspace/playground/auto/adac/best_car/find_best_car.py:371: DtypeWarning: Columns (234,235,236,237) have mixed types.Specify dtype option on import or set low_memory=False.
  _get_df_with_cost_to_own(
/home/kirill/workspace/playground/auto/adac/best_car/find_best_car.py:371: DtypeWarning: Columns (234,235,236,237) have mixed types.Specify dtype option on import or set low_memory=False.
  _get_df_with_cost_to_own(
/home/kirill/workspace/playground/auto/adac/best_car/find_best_car.py:371: DtypeWarning: Columns (234,235,236,237) have mixed types.Specify dtype option on import or set low_memory=False.
  _get_df_with_cost_to_own(
/home/kirill/workspace/playground/auto/adac/best_car/find_best_car.py:371: DtypeWarning: Columns (234,235,236,237) have mixed types.Specify dtype option on import or set low_memory=False.
  _get_df_with_cost_to_own(
/home/kirill/workspace/playground/auto/adac/best_car/find_best_car.py:371: DtypeWarning: Columns (234,235,236,237) have mixed types.Specify dtype option on import or set low_memory=False.
  _get_df_with_cost_to_own(
/home/kirill/workspace/playground/auto/adac/best_car/find_best_car.py:371: DtypeWarning: Columns (234,235,236,237) have mixed types.Specify dtype option on import or set low_memory=False.
  _get_df_with_cost_to_own(
/home/kirill/workspace/playground/auto/adac/best_car/find_best_car.py:371: DtypeWarning: Columns (234,235,236,237) have mixed types.Specify dtype option on import or set low_memory=False.
  _get_df_with_cost_to_own(
/home/kirill/workspace/playground/auto/adac/best_car/find_best_car.py:371: DtypeWarning: Columns (234,235,236,237) have mixed types.Specify dtype option on import or set low_memory=False.
  _get_df_with_cost_to_own(
/home/kirill/workspace/playground/auto/adac/best_car/find_best_car.py:371: DtypeWarning: Columns (234,235,236,237) have mixed types.Specify dtype option on import or set low_memory=False.
  _get_df_with_cost_to_own(
/home/kirill/workspace/playground/auto/adac/best_car/find_best_car.py:371: DtypeWarning: Columns (234,235,236,237) have mixed types.Specify dtype option on import or set low_memory=False.
  _get_df_with_cost_to_own(
/home/kirill/workspace/playground/auto/adac/best_car/find_best_car.py:371: DtypeWarning: Columns (234,235,236,237) have mixed types.Specify dtype option on import or set low_memory=False.
  _get_df_with_cost_to_own(
/home/kirill/workspace/playground/auto/adac/best_car/find_best_car.py:371: DtypeWarning: Columns (234,235,236,237) have mixed types.Specify dtype option on import or set low_memory=False.
  _get_df_with_cost_to_own(
/home/kirill/workspace/playground/auto/adac/best_car/find_best_car.py:371: DtypeWarning: Columns (234,235,236,237) have mixed types.Specify dtype option on import or set low_memory=False.
  _get_df_with_cost_to_own(
/home/kirill/workspace/playground/auto/adac/best_car/find_best_car.py:371: DtypeWarning: Columns (234,235,236,237) have mixed types.Specify dtype option on import or set low_memory=False.
  _get_df_with_cost_to_own(
/home/kirill/workspace/playground/auto/adac/best_car/find_best_car.py:371: DtypeWarning: Columns (234,235,236,237) have mixed types.Specify dtype option on import or set low_memory=False.
  _get_df_with_cost_to_own(
Bad column: Range
Bad column: range up to 1000 km per tank
Bad column: boot size,Fit 156 snowboard
Bad column: easy entry(clearance or height of seats)

In [4]:
cols = ['Marke', 'Baureihe']
df[cols].drop_duplicates(subset=cols).sort_values(cols)

     Marke                             Baureihe
947   Audi         A1 (GB) Sportback (ab 11/18)
950   Audi        A1 (GB) citycarver (ab 09/19)
1931  Audi         A3 (8Y) Limousine (ab 06/20)
2930  Audi         A3 (8Y) Sportback (ab 05/20)
1928  Audi  A3 (8Y) Sportback g-tron (ab 10/20)
...    ...                                  ...
1869    VW                     T-Roc (ab 11/17)
2883    VW           T-Roc Cabriolet (ab 03/20)
6444    VW                   T-Roc R (ab 09/19)
6434    VW               Tiguan (II) (ab 09/20)
5477    VW      Tiguan (II) Allspace (ab 09/17)

[65 rows x 2 columns]

# Most suitable cars

In [5]:
top = df.filter([Column.NAME, Column.MY_M_COSTS, Column.TOTAL_SCORE])
top.head(10)

,name,my monthly costs,Total Score
5436,VW Golf GTE DSG (ab 08/20),469.0,367.293033
5434,VW Golf 1.4 eHybrid Style DSG (ab 08/20),439.0,365.113033
4128,VW Golf 2.0 TDI SCR ACTIVE DSG (ab 01/21),434.0,355.304245
4129,VW Golf 2.0 TDI SCR Style DSG (ab 09/20),446.0,355.063033
4133,VW Golf GTD DSG (ab 10/20),483.0,353.559699
1844,VW Golf 1.5 eTSI Life DSG (ab 12/20),441.0,353.289699
6321,Skoda Octavia RS Plus 2.0 TDI SCR 4x4 DSG (ab ...,536.0,351.840558
1839,VW Golf 1.0 eTSI Life DSG (ab 08/20),427.0,350.829699
6320,Skoda Octavia RS Plus 2.0 TDI SCR DSG (ab 12/20),513.0,350.170558
4130,VW Golf 2.0 TDI SCR R-Line DSG (ab 09/20),446.0,348.929699

## Most suitable car sorted by euro per 1 score point

In [6]:
VIEW_COLUMNS = [Column.NAME, Column.TOTAL_PRICE, Column.TOTAL_SCORE, Column.EURO_PER_SCORE]
VIEW_LIMIT = 10

top = df.filter(VIEW_COLUMNS).sort_values(Column.EURO_PER_SCORE)
top.head(VIEW_LIMIT)

,name,Total price,Total Score,Euro per score
743,Renault Clio TCe 90 Intens X-tronic (ab 08/20),21300.0,320.958807,66.363656
658,Opel Corsa 1.2 DI Turbo Elegance Automatik (ab...,23295.0,332.051639,70.154751
660,Opel Corsa 1.2 DI Turbo GS Line Automatik (ab ...,23770.0,331.931639,71.611131
2504,Opel Corsa-e Elegance (ab 05/20),24440.0,328.751997,74.341754
699,Peugeot 208 1.2 PureTech 100 Allure Pack EAT8 ...,23439.0,312.311393,75.050096
339,Audi A1 Sportback 25 TFSI S tronic (ab 09/20),24885.0,325.769058,76.388470
2505,Opel Corsa-e GS Line (ab 05/20),25100.0,328.311997,76.451669
663,Opel Corsa 1.2 DI Turbo GS Line Automatik (ab ...,25470.0,333.031639,76.479220
746,Renault Clio E-TECH 140 Intens (ab 07/20),25000.0,321.495474,77.761592
703,Peugeot 208 1.2 PureTech 130 Allure Pack EAT8 ...,24940.0,314.811393,79.222038

## Compare top cars

In [7]:
coloraze(df[df['name'].isin(top['name'])].head(VIEW_LIMIT), axis=0)

## Cars with total score(group by mark and serie)

In [8]:
g = df.groupby(GROUP_COLS_MARK_SERIE_KW, as_index=False)
costs_mean = g[[Column.TOTAL_PRICE, Column.TOTAL_SCORE]].agg({Column.TOTAL_PRICE: 'mean', Column.TOTAL_SCORE: 'mean'})
costs_mean.sort_values(Column.TOTAL_SCORE, ascending=False).head(10).round(2)

,Marke,Baureihe,Leistung maximal in kW (Systemleistung),Total price,Total Score
151,VW,Golf (VIII) GTE (ab 08/20),180,37505.0,367.29
149,VW,Golf (VIII) (ab 12/19),150,36770.0,365.11
150,VW,Golf (VIII) GTD (ab 10/20),147,41530.0,353.56
147,VW,Golf (VIII) (ab 12/19),96,32735.0,353.29
148,VW,Golf (VIII) (ab 12/19),110,38435.0,353.10
146,VW,Golf (VIII) (ab 12/19),81,30945.0,350.83
152,VW,Golf (VIII) GTI (ab 08/20),180,41085.0,346.50
153,VW,Golf (VIII) GTI (ab 08/20),221,47240.0,341.17
133,Skoda,Octavia (IV) RS Limousine (ab 09/20),147,46250.0,334.18
57,KIA,Ceed (CD) GT (ab 01/19),150,33250.0,333.44

## Cars better than best Subaru Impreza

In [9]:
# NOTE should be sorted
imprezas = df[df[Column.NAME].str.contains('Subaru Impreza 2.0i Exclusive')]

top_impreza = imprezas.iloc[0]
impreza_euro_per_score = top_impreza[Column.EURO_PER_SCORE]
impreza_total_score = top_impreza[Column.TOTAL_SCORE]
impreza_costs = top_impreza[Column.MY_M_COSTS]

# imprezas
top_impreza.to_dict()

# NOTE: Total Score should be set!!!

{'name': 'Subaru Impreza 2.0i Exclusive Lineartronic (01/18 - 08/18)',
 'Marke': 'Subaru',
 'Baureihe': 'Impreza (V) (01/18 - 04/20)',
 'Leistung maximal in kW (Systemleistung)': 115,
 'Total price': 29050.0,
 'my monthly costs': 593.0,
 'Range': 629.92,
 'AEB pedestrian': 5.0,
 'navi ': 3.0,
 'active headrest': 5.0,
 'light autoswitch': 5.0,
 'car2x': 0.0,
 'Bremsassistent': 10.0,
 'lane keep assist active': 10.0,
 'autoparking': 0.0,
 'LED lights': 10.0,
 'adaptive lights': 10.0,
 'traffic sign recognition': 0.0,
 'AEB': 10.0,
 'rear traffic alert': 10.0,
 'Traffic jam': 0.0,
 'LED matrix': 0.0,
 'keyless': 10.0,
 'Camera, 360, front, back': 6.428571428571428,
 'adaptive cruise from 0 km': 10.0,
 'safe, euroncap, iihs': 17.82,
 'plugin hybrid': 0,
 'automat not CVT': 3.333333333333333,
 '4x4': 5.0,
 'plugin hybrid 2': 1.4000000000000001,
 'Top speed': 2.35,
 'km77 elktest': 5.33,
 'testberichte': 0.67,
 'Acceleration <10': 3.25,
 'range up to 1000 km per tank': 5.85,
 'side mirrors on door': 5.0,
 'door till ground': 0.0,
 'license on back bumper': 0.0,
 'small length': 2.55,
 'boot size,Fit 156 snowboard ': 1.58,
 'noise': 4.5,
 'acc with buttons': 5.0,
 'no piano black': 1.67,
 'easy entry(clearance or height of seats)': 3.35,
 'digital speed': 0.0,
 'HIFI audio': 0.0,
 'white seats': 0.0,
 'interior': 6.67,
 'mobile warranty': 0.0,
 'Garantie y': 7.777777777777778,
 'Insurance 1': 4.11,
 'Insurance 2': 7.64,
 'Costs service': 8.96,
 'Costs running': 8.65,
 'Costs fixed': 9.75,
 'Costs depreciation': 6.69,
 'monthly costs': 10.49,
 'price': 38.09,
 'AGR': 0.0,
 'ADAC additional equipment': 18.65,
 'Total Score': 300.5596825396825,
 'Euro per score': 96.65301664724964}

### Better in score

In [10]:
df[df[Column.TOTAL_SCORE] > impreza_total_score][VIEW_COLUMNS].head(VIEW_LIMIT)

,name,Total price,Total Score,Euro per score
5436,VW Golf GTE DSG (ab 08/20),37505.0,367.293033,102.111929
5434,VW Golf 1.4 eHybrid Style DSG (ab 08/20),36770.0,365.113033,100.708539
4128,VW Golf 2.0 TDI SCR ACTIVE DSG (ab 01/21),38035.0,355.304245,107.049101
4129,VW Golf 2.0 TDI SCR Style DSG (ab 09/20),38555.0,355.063033,108.586354
4133,VW Golf GTD DSG (ab 10/20),41530.0,353.559699,117.462483
1844,VW Golf 1.5 eTSI Life DSG (ab 12/20),32735.0,353.289699,92.657669
6321,Skoda Octavia RS Plus 2.0 TDI SCR 4x4 DSG (ab ...,47645.0,351.840558,135.416452
1839,VW Golf 1.0 eTSI Life DSG (ab 08/20),30945.0,350.829699,88.205189
6320,Skoda Octavia RS Plus 2.0 TDI SCR DSG (ab 12/20),45545.0,350.170558,130.065190
4130,VW Golf 2.0 TDI SCR R-Line DSG (ab 09/20),38715.0,348.929699,110.953582

### Better in euro per score

In [11]:
df[df[Column.EURO_PER_SCORE] < impreza_euro_per_score][VIEW_COLUMNS].head(VIEW_LIMIT)

,name,Total price,Total Score,Euro per score
1844,VW Golf 1.5 eTSI Life DSG (ab 12/20),32735.00,353.289699,92.657669
1839,VW Golf 1.0 eTSI Life DSG (ab 08/20),30945.00,350.829699,88.205189
3393,Hyundai IONIQ PlugIn-Hybrid Prime (ab 07/20),32940.00,341.740855,96.388827
1283,KIA Ceed 1.5 T-GDI 48V Spirit DCT7 (ab 03/21),30000.00,339.896769,88.262092
1279,KIA Ceed 1.5 T-GDI Spirit DCT7 (ab 03/21),29250.00,339.236769,86.222965
1284,KIA Ceed 1.5 T-GDI 48V GT Line DCT7 (ab 03/21),30900.00,338.426769,91.304834
1281,KIA Ceed 1.5 T-GDI GT Line DCT7 (ab 03/21),30150.00,337.766769,89.262778
3392,Hyundai IONIQ PlugIn-Hybrid Style (ab 07/20),30440.00,336.280855,90.519575
663,Opel Corsa 1.2 DI Turbo GS Line Automatik (ab ...,25470.00,333.031639,76.479220
1521,Opel Corsa 1.2 DI Turbo Ultimate Automatik (ab...,28548.33,332.197194,85.937902

### Better in costs

In [12]:
df[df[Column.MY_M_COSTS] < impreza_costs][VIEW_COLUMNS].head(VIEW_LIMIT)

,name,Total price,Total Score,Euro per score
5436,VW Golf GTE DSG (ab 08/20),37505.0,367.293033,102.111929
5434,VW Golf 1.4 eHybrid Style DSG (ab 08/20),36770.0,365.113033,100.708539
4128,VW Golf 2.0 TDI SCR ACTIVE DSG (ab 01/21),38035.0,355.304245,107.049101
4129,VW Golf 2.0 TDI SCR Style DSG (ab 09/20),38555.0,355.063033,108.586354
4133,VW Golf GTD DSG (ab 10/20),41530.0,353.559699,117.462483
1844,VW Golf 1.5 eTSI Life DSG (ab 12/20),32735.0,353.289699,92.657669
6321,Skoda Octavia RS Plus 2.0 TDI SCR 4x4 DSG (ab ...,47645.0,351.840558,135.416452
1839,VW Golf 1.0 eTSI Life DSG (ab 08/20),30945.0,350.829699,88.205189
6320,Skoda Octavia RS Plus 2.0 TDI SCR DSG (ab 12/20),45545.0,350.170558,130.065190
4130,VW Golf 2.0 TDI SCR R-Line DSG (ab 09/20),38715.0,348.929699,110.953582

### Better in everything

In [13]:
d = df[(df[Column.TOTAL_SCORE] > impreza_total_score) & (df[Column.EURO_PER_SCORE] < impreza_euro_per_score) & (df[Column.MY_M_COSTS] < impreza_costs)]
d[VIEW_COLUMNS].head(VIEW_LIMIT)

,name,Total price,Total Score,Euro per score
1844,VW Golf 1.5 eTSI Life DSG (ab 12/20),32735.00,353.289699,92.657669
1839,VW Golf 1.0 eTSI Life DSG (ab 08/20),30945.00,350.829699,88.205189
3393,Hyundai IONIQ PlugIn-Hybrid Prime (ab 07/20),32940.00,341.740855,96.388827
1283,KIA Ceed 1.5 T-GDI 48V Spirit DCT7 (ab 03/21),30000.00,339.896769,88.262092
1279,KIA Ceed 1.5 T-GDI Spirit DCT7 (ab 03/21),29250.00,339.236769,86.222965
1284,KIA Ceed 1.5 T-GDI 48V GT Line DCT7 (ab 03/21),30900.00,338.426769,91.304834
1281,KIA Ceed 1.5 T-GDI GT Line DCT7 (ab 03/21),30150.00,337.766769,89.262778
3392,Hyundai IONIQ PlugIn-Hybrid Style (ab 07/20),30440.00,336.280855,90.519575
663,Opel Corsa 1.2 DI Turbo GS Line Automatik (ab ...,25470.00,333.031639,76.479220
1521,Opel Corsa 1.2 DI Turbo Ultimate Automatik (ab...,28548.33,332.197194,85.937902

In [14]:
coloraze(d, axis=0).to_excel('/tmp/best_cars.xlsx')