# Finding best car
## Show top cars with least monthly costs

In [1]:
from find_best_car import (
    _get_df_with_cost_to_own, 
    Column, 
    get_scored_df
)
import pandas as pd
from numpy import nan

import seaborn as sns

def coloraze(df, axis=1):
    cm = sns.light_palette("seagreen", as_cmap=True)
    return df.style.background_gradient(cmap=cm, axis=axis)

GROUP_COLS_MARK_SERIE_KW = [Column.MARK, Column.SERIE, Column.PERFORMANCE_KW]

df = _get_df_with_cost_to_own(de_discount=True)

g = df.groupby(GROUP_COLS_MARK_SERIE_KW, as_index=False)
costs_mean = g[[Column.TOTAL_PRICE, Column.MY_M_COSTS]].mean()
costs_mean.sort_values(Column.MY_M_COSTS).head(5).round(0)

<ipython-input-1-d1081bcfb441>:17: DtypeWarning: Columns (234,235,236,237) have mixed types.Specify dtype option on import or set low_memory=False.
  df = _get_df_with_cost_to_own(de_discount=True)

,Marke,Baureihe,Leistung maximal in kW (Systemleistung),Total price,my monthly costs
574,VW,ID.3 (ab 09/20),110,28660.0,364.0
573,VW,ID.3 (ab 09/20),107,32272.0,365.0
495,Skoda,Octavia (IV) Combi (ab 04/20),96,38727.0,369.0
296,MINI,MINI (F56) Electric 3-Türer (ab 03/21),135,26540.0,369.0
501,Skoda,Octavia (IV) Limousine (ab 04/20),96,38027.0,371.0

## Cars with lowest monthly costs

In [2]:
costs_mean.sort_values(Column.MY_M_COSTS).round(0).head(10)

,Marke,Baureihe,Leistung maximal in kW (Systemleistung),Total price,my monthly costs
574,VW,ID.3 (ab 09/20),110,28660.0,364.0
573,VW,ID.3 (ab 09/20),107,32272.0,365.0
495,Skoda,Octavia (IV) Combi (ab 04/20),96,38727.0,369.0
296,MINI,MINI (F56) Electric 3-Türer (ab 03/21),135,26540.0,369.0
501,Skoda,Octavia (IV) Limousine (ab 04/20),96,38027.0,371.0
575,VW,ID.3 (ab 09/20),150,36854.0,374.0
201,Hyundai,IONIQ (AE) Elektro (ab 09/19),100,32685.0,375.0
18,Audi,A3 (8Y) Sportback g-tron (ab 10/20),96,38192.0,378.0
554,Toyota,Yaris (XP21) (ab 09/20),85,24406.0,381.0
479,Skoda,Enyaq iV (ab 04/21),109,30660.0,388.0

## Find missing data in input excel

In [3]:

df = get_scored_df(de_discount=True)

for col in df.columns:
    uniq_vals = df[col]
    if uniq_vals.isnull().values.any():
        print(f"Bad column: {col}")

/home/kirill/workspace/playground/auto/adac/best_car/find_best_car.py:356: DtypeWarning: Columns (234,235,236,237) have mixed types.Specify dtype option on import or set low_memory=False.
  [df, _get_df_with_cost_to_own(model, de_discount=de_discount)]
/home/kirill/workspace/playground/auto/adac/best_car/find_best_car.py:356: DtypeWarning: Columns (234,235,236,237) have mixed types.Specify dtype option on import or set low_memory=False.
  [df, _get_df_with_cost_to_own(model, de_discount=de_discount)]
/home/kirill/workspace/playground/auto/adac/best_car/find_best_car.py:356: DtypeWarning: Columns (234,235,236,237) have mixed types.Specify dtype option on import or set low_memory=False.
  [df, _get_df_with_cost_to_own(model, de_discount=de_discount)]
/home/kirill/workspace/playground/auto/adac/best_car/find_best_car.py:356: DtypeWarning: Columns (234,235,236,237) have mixed types.Specify dtype option on import or set low_memory=False.
  [df, _get_df_with_cost_to_own(model, de_discount=de_discount)]
/home/kirill/workspace/playground/auto/adac/best_car/find_best_car.py:356: DtypeWarning: Columns (234,235,236,237) have mixed types.Specify dtype option on import or set low_memory=False.
  [df, _get_df_with_cost_to_own(model, de_discount=de_discount)]
/home/kirill/workspace/playground/auto/adac/best_car/find_best_car.py:356: DtypeWarning: Columns (234,235,236,237) have mixed types.Specify dtype option on import or set low_memory=False.
  [df, _get_df_with_cost_to_own(model, de_discount=de_discount)]
/home/kirill/workspace/playground/auto/adac/best_car/find_best_car.py:356: DtypeWarning: Columns (234,235,236,237) have mixed types.Specify dtype option on import or set low_memory=False.
  [df, _get_df_with_cost_to_own(model, de_discount=de_discount)]
/home/kirill/workspace/playground/auto/adac/best_car/find_best_car.py:356: DtypeWarning: Columns (234,235,236,237) have mixed types.Specify dtype option on import or set low_memory=False.
  [df, _get_df_with_cost_to_own(model, de_discount=de_discount)]
/home/kirill/workspace/playground/auto/adac/best_car/find_best_car.py:356: DtypeWarning: Columns (234,235,236,237) have mixed types.Specify dtype option on import or set low_memory=False.
  [df, _get_df_with_cost_to_own(model, de_discount=de_discount)]
/home/kirill/workspace/playground/auto/adac/best_car/find_best_car.py:356: DtypeWarning: Columns (234,235,236,237) have mixed types.Specify dtype option on import or set low_memory=False.
  [df, _get_df_with_cost_to_own(model, de_discount=de_discount)]
/home/kirill/workspace/playground/auto/adac/best_car/find_best_car.py:356: DtypeWarning: Columns (234,235,236,237) have mixed types.Specify dtype option on import or set low_memory=False.
  [df, _get_df_with_cost_to_own(model, de_discount=de_discount)]
/home/kirill/workspace/playground/auto/adac/best_car/find_best_car.py:356: DtypeWarning: Columns (234,235,236,237) have mixed types.Specify dtype option on import or set low_memory=False.
  [df, _get_df_with_cost_to_own(model, de_discount=de_discount)]
/home/kirill/workspace/playground/auto/adac/best_car/find_best_car.py:356: DtypeWarning: Columns (234,235,236,237) have mixed types.Specify dtype option on import or set low_memory=False.
  [df, _get_df_with_cost_to_own(model, de_discount=de_discount)]
/home/kirill/workspace/playground/auto/adac/best_car/find_best_car.py:356: DtypeWarning: Columns (234,235,236,237) have mixed types.Specify dtype option on import or set low_memory=False.
  [df, _get_df_with_cost_to_own(model, de_discount=de_discount)]
/home/kirill/workspace/playground/auto/adac/best_car/find_best_car.py:356: DtypeWarning: Columns (234,235,236,237) have mixed types.Specify dtype option on import or set low_memory=False.
  [df, _get_df_with_cost_to_own(model, de_discount=de_discount)]
/home/kirill/workspace/playground/auto/adac/best_car/find_best_car.py:356: DtypeWarning: Columns (234,235,236,237) have mixed types.Specify dtype option on import or set low_memory=False.
  [df, _get_df_with_cost_to_own(model, de_discount=de_discount)]
/home/kirill/workspace/playground/auto/adac/best_car/find_best_car.py:356: DtypeWarning: Columns (234,235,236,237) have mixed types.Specify dtype option on import or set low_memory=False.
  [df, _get_df_with_cost_to_own(model, de_discount=de_discount)]
/home/kirill/workspace/playground/auto/adac/best_car/find_best_car.py:356: DtypeWarning: Columns (234,235,236,237) have mixed types.Specify dtype option on import or set low_memory=False.
  [df, _get_df_with_cost_to_own(model, de_discount=de_discount)]
/home/kirill/workspace/playground/auto/adac/best_car/find_best_car.py:356: DtypeWarning: Columns (234,235,236,237) have mixed types.Specify dtype option on import or set low_memory=False.
  [df, _get_df_with_cost_to_own(model, de_discount=de_discount)]
/home/kirill/workspace/playground/auto/adac/best_car/find_best_car.py:356: DtypeWarning: Columns (234,235,236,237) have mixed types.Specify dtype option on import or set low_memory=False.
  [df, _get_df_with_cost_to_own(model, de_discount=de_discount)]
/home/kirill/workspace/playground/auto/adac/best_car/find_best_car.py:356: DtypeWarning: Columns (234,235,236,237) have mixed types.Specify dtype option on import or set low_memory=False.
  [df, _get_df_with_cost_to_own(model, de_discount=de_discount)]
/home/kirill/workspace/playground/auto/adac/best_car/find_best_car.py:356: DtypeWarning: Columns (234,235,236,237) have mixed types.Specify dtype option on import or set low_memory=False.
  [df, _get_df_with_cost_to_own(model, de_discount=de_discount)]
/home/kirill/workspace/playground/auto/adac/best_car/find_best_car.py:356: DtypeWarning: Columns (234,235,236,237) have mixed types.Specify dtype option on import or set low_memory=False.
  [df, _get_df_with_cost_to_own(model, de_discount=de_discount)]
/home/kirill/workspace/playground/auto/adac/best_car/find_best_car.py:356: DtypeWarning: Columns (234,235,236,237) have mixed types.Specify dtype option on import or set low_memory=False.
  [df, _get_df_with_cost_to_own(model, de_discount=de_discount)]
/home/kirill/workspace/playground/auto/adac/best_car/find_best_car.py:356: DtypeWarning: Columns (234,235,236,237) have mixed types.Specify dtype option on import or set low_memory=False.
  [df, _get_df_with_cost_to_own(model, de_discount=de_discount)]
/home/kirill/workspace/playground/auto/adac/best_car/find_best_car.py:356: DtypeWarning: Columns (234,235,236,237) have mixed types.Specify dtype option on import or set low_memory=False.
  [df, _get_df_with_cost_to_own(model, de_discount=de_discount)]
/home/kirill/workspace/playground/auto/adac/best_car/find_best_car.py:356: DtypeWarning: Columns (234,235,236,237) have mixed types.Specify dtype option on import or set low_memory=False.
  [df, _get_df_with_cost_to_own(model, de_discount=de_discount)]
/home/kirill/workspace/playground/auto/adac/best_car/find_best_car.py:356: DtypeWarning: Columns (234,235,236,237) have mixed types.Specify dtype option on import or set low_memory=False.
  [df, _get_df_with_cost_to_own(model, de_discount=de_discount)]
/home/kirill/workspace/playground/auto/adac/best_car/find_best_car.py:356: DtypeWarning: Columns (234,235,236,237) have mixed types.Specify dtype option on import or set low_memory=False.
  [df, _get_df_with_cost_to_own(model, de_discount=de_discount)]
/home/kirill/workspace/playground/auto/adac/best_car/find_best_car.py:356: DtypeWarning: Columns (234,235,236,237) have mixed types.Specify dtype option on import or set low_memory=False.
  [df, _get_df_with_cost_to_own(model, de_discount=de_discount)]
/home/kirill/workspace/playground/auto/adac/best_car/find_best_car.py:356: DtypeWarning: Columns (234,235,236,237) have mixed types.Specify dtype option on import or set low_memory=False.
  [df, _get_df_with_cost_to_own(model, de_discount=de_discount)]
/home/kirill/workspace/playground/auto/adac/best_car/find_best_car.py:356: DtypeWarning: Columns (234,235,236,237) have mixed types.Specify dtype option on import or set low_memory=False.
  [df, _get_df_with_cost_to_own(model, de_discount=de_discount)]
/home/kirill/workspace/playground/auto/adac/best_car/find_best_car.py:356: DtypeWarning: Columns (234,235,236,237) have mixed types.Specify dtype option on import or set low_memory=False.
  [df, _get_df_with_cost_to_own(model, de_discount=de_discount)]
/home/kirill/workspace/playground/auto/adac/best_car/find_best_car.py:356: DtypeWarning: Columns (234,235,236,237) have mixed types.Specify dtype option on import or set low_memory=False.
  [df, _get_df_with_cost_to_own(model, de_discount=de_discount)]
/home/kirill/workspace/playground/auto/adac/best_car/find_best_car.py:356: DtypeWarning: Columns (234,235,236,237) have mixed types.Specify dtype option on import or set low_memory=False.
  [df, _get_df_with_cost_to_own(model, de_discount=de_discount)]
/home/kirill/workspace/playground/auto/adac/best_car/find_best_car.py:356: DtypeWarning: Columns (234,235,236,237) have mixed types.Specify dtype option on import or set low_memory=False.
  [df, _get_df_with_cost_to_own(model, de_discount=de_discount)]
/home/kirill/workspace/playground/auto/adac/best_car/find_best_car.py:356: DtypeWarning: Columns (234,235,236,237) have mixed types.Specify dtype option on import or set low_memory=False.
  [df, _get_df_with_cost_to_own(model, de_discount=de_discount)]
/home/kirill/workspace/playground/auto/adac/best_car/find_best_car.py:356: DtypeWarning: Columns (234,235,236,237) have mixed types.Specify dtype option on import or set low_memory=False.
  [df, _get_df_with_cost_to_own(model, de_discount=de_discount)]
Bad column: Range
Bad column: range up to 1000 km per tank
Bad column: boot size,Fit 156 snowboard

In [4]:
cols = ['Marke', 'Baureihe']
df[cols].drop_duplicates(subset=cols).sort_values(cols)

     Marke                             Baureihe
339   Audi         A1 (GB) Sportback (ab 11/18)
950   Audi        A1 (GB) citycarver (ab 09/19)
1931  Audi         A3 (8Y) Limousine (ab 06/20)
2930  Audi         A3 (8Y) Sportback (ab 05/20)
1928  Audi  A3 (8Y) Sportback g-tron (ab 10/20)
...    ...                                  ...
1866    VW                     T-Roc (ab 11/17)
2883    VW           T-Roc Cabriolet (ab 03/20)
6444    VW                   T-Roc R (ab 09/19)
6434    VW               Tiguan (II) (ab 09/20)
4173    VW      Tiguan (II) Allspace (ab 09/17)

[78 rows x 2 columns]

# Most suitable cars

In [5]:
top = df.filter([Column.NAME, Column.MY_M_COSTS, Column.TOTAL_SCORE])
df.to_excel('/tmp/1.xlsx')
top.head(10)

,name,my monthly costs,Total Score
5434,VW Golf 1.4 eHybrid Style DSG (ab 08/20),439.0,284.492553
5436,VW Golf GTE DSG (ab 08/20),469.0,282.814091
1839,VW Golf 1.0 eTSI Life DSG (ab 08/20),427.0,274.965886
1844,VW Golf 1.5 eTSI Life DSG (ab 12/20),441.0,274.295886
4129,VW Golf 2.0 TDI SCR Style DSG (ab 09/20),446.0,273.212553
4128,VW Golf 2.0 TDI SCR ACTIVE DSG (ab 01/21),434.0,272.411061
2849,VW Golf Variant 2.0 TDI SCR Life DSG (ab 11/20),432.0,271.055886
1849,VW Golf Variant 1.0 eTSI Life DSG (ab 11/20),432.0,270.925886
2847,VW Golf Variant 2.0 TDI SCR Life DSG (ab 12/20),423.0,270.505886
2845,VW Golf Variant 1.5 eTSI Style DSG (ab 11/20),458.0,270.422553

## Most suitable car sorted by euro per 1 score point

In [6]:
top = df.filter([Column.NAME, Column.TOTAL_PRICE, Column.TOTAL_SCORE, Column.EURO_PER_SCORE]).sort_values(Column.EURO_PER_SCORE)
top.head(10)

,name,Total price,Total Score,Euro per score
743,Renault Clio TCe 90 Intens X-tronic (ab 08/20),21300.0,240.520371,88.557988
658,Opel Corsa 1.2 DI Turbo Elegance Automatik (ab...,23295.0,244.930627,95.108563
660,Opel Corsa 1.2 DI Turbo GS Line Automatik (ab ...,23770.0,243.740627,97.521699
339,Audi A1 Sportback 25 TFSI S tronic (ab 09/20),24885.0,248.910538,99.975679
699,Peugeot 208 1.2 PureTech 100 Allure Pack EAT8 ...,23439.0,234.355653,100.014656
2504,Opel Corsa-e Elegance (ab 05/20),24440.0,242.048320,100.971575
2505,Opel Corsa-e GS Line (ab 05/20),25100.0,240.488320,104.370973
663,Opel Corsa 1.2 DI Turbo GS Line Automatik (ab ...,25470.0,243.650627,104.534925
2561,Peugeot e-208 Allure Pack (ab 10/20),24590.0,235.215653,104.542362
345,Audi A1 Sportback 30 TFSI S tronic (ab 09/20),26135.0,248.810538,105.039763

## Compare top cars

In [17]:
coloraze(df[df['name'].isin(top['name'])].head(5), axis=0)

## Cars with total score(group by mark and serie)

In [8]:
# df.to_excel('/tmp/1.xlsx')
g = df.groupby(GROUP_COLS_MARK_SERIE_KW, as_index=False)
costs_mean = g[[Column.TOTAL_PRICE, Column.TOTAL_SCORE]].agg({Column.TOTAL_PRICE: 'mean', Column.TOTAL_SCORE: 'mean'})
costs_mean.sort_values(Column.TOTAL_SCORE, ascending=False).head(10).round(2)

,Marke,Baureihe,Leistung maximal in kW (Systemleistung),Total price,Total Score
178,VW,Golf (VIII) (ab 12/19),150,36770.00,284.49
181,VW,Golf (VIII) GTE (ab 08/20),180,37505.00,282.81
175,VW,Golf (VIII) (ab 12/19),81,30945.00,274.97
176,VW,Golf (VIII) (ab 12/19),96,32735.00,274.30
177,VW,Golf (VIII) (ab 12/19),110,38435.00,271.37
184,VW,Golf (VIII) Variant (ab 11/20),81,32055.00,270.93
185,VW,Golf (VIII) Variant (ab 11/20),85,34805.00,270.51
187,VW,Golf (VIII) Variant (ab 11/20),110,37777.50,268.32
180,VW,Golf (VIII) GTD (ab 10/20),147,41530.00,267.87
186,VW,Golf (VIII) Variant (ab 11/20),96,36181.67,266.40

## Cars better than best Subaru Impreza

In [9]:
# NOTE should be sorted
imprezas = df[df[Column.NAME].str.contains('Subaru Impreza 2.0i Exclusive')]

top_impreza = imprezas.iloc[0]
impreza_euro_per_score = top_impreza[Column.EURO_PER_SCORE]
impreza_total_score = top_impreza[Column.TOTAL_SCORE]
impreza_costs = top_impreza[Column.MY_M_COSTS]

# imprezas
top_impreza.to_dict()

# NOTE: Total Score should be set!!!

{'name': 'Subaru Impreza 2.0i Exclusive Lineartronic (01/18 - 08/18)',
 'Marke': 'Subaru',
 'Baureihe': 'Impreza (V) (01/18 - 04/20)',
 'Leistung maximal in kW (Systemleistung)': 115,
 'Total price': 29050.0,
 'my monthly costs': 593.0,
 'Range': 614.32,
 'AEB pedestrian': 2.0,
 'navi ': 3.0,
 'active headrest': 4.0,
 'light autoswitch': 4.0,
 'car2x': 0.0,
 'Bremsassistent': 5.0,
 'lane keep assist active': 5.0,
 'autoparking': 0.0,
 'LED lights': 5.0,
 'adaptive lights': 6.0,
 'traffic sign recognition': 0.0,
 'AEB': 7.0,
 'rear traffic alert': 7.0,
 'Traffic jam': 0.0,
 'LED matrix': 0.0,
 'keyless': 8.0,
 'Camera, 360, front, back': 4.285714285714286,
 'adaptive cruise from 0 km': 10.0,
 'safe, euroncap, iihs': 8.91,
 'plugin hybrid': 0,
 'automat not CVT': 1.6666666666666665,
 '4x4': 5.0,
 'plugin hybrid 2': 1.4000000000000001,
 'Top speed': 3.29,
 'km77 elktest': 4.27,
 'testberichte': 1.07,
 'Acceleration <10': 3.25,
 'range up to 1000 km per tank': 6.34,
 'side mirrors on door': 4.0,
 'door till ground': 0.0,
 'license on back bumper': 0.0,
 'small length': 3.3,
 'boot size,Fit 156 snowboard ': 0.41,
 'noise': 1.2,
 'acc with buttons': 4.0,
 'no piano black': 1.67,
 'easy entry(clearance or height of seats)': 2.13,
 'digital speed': 0.0,
 'HIFI audio': 0.0,
 'white seats': 0.0,
 'interior': 6.67,
 'mobile warranty': 0.0,
 'Garantie y': 5.444444444444445,
 'Insurance 1': 2.74,
 'Insurance 2': 6.62,
 'Costs service': 5.98,
 'Costs running': 5.77,
 'Costs fixed': 4.55,
 'Costs depreciation': 6.69,
 'monthly costs': 9.94,
 'price': 38.09,
 'AGR': 0.0,
 'Total Score': 214.6868253968254,
 'Euro per score': 135.31338006561052}

### Better in score

In [10]:
df[df[Column.TOTAL_SCORE] > impreza_total_score].head(10)

,name,Marke,Baureihe,Leistung maximal in kW (Systemleistung),Total price,my monthly costs,Range,AEB pedestrian,navi,active headrest,...,Insurance 2,Costs service,Costs running,Costs fixed,Costs depreciation,monthly costs,price,AGR,Total Score,Euro per score
5434,VW Golf 1.4 eHybrid Style DSG (ab 08/20),VW,Golf (VIII) (ab 12/19),150,36770.0,439.0,1097.22,2.0,1.038462,0.0,...,9.57,3.29,2.31,1.22,6.45,23.37,26.23,4.0,284.492553,129.247671
5436,VW Golf GTE DSG (ab 08/20),VW,Golf (VIII) GTE (ab 08/20),180,37505.0,469.0,897.73,2.0,3.000000,0.0,...,9.57,4.27,2.98,1.22,6.42,20.76,25.10,4.0,282.814091,132.613618
1839,VW Golf 1.0 eTSI Life DSG (ab 08/20),VW,Golf (VIII) (ab 12/19),81,30945.0,427.0,865.38,2.0,1.038462,0.0,...,11.02,0.98,3.56,1.22,7.34,24.42,35.18,4.0,274.965886,112.541234
1844,VW Golf 1.5 eTSI Life DSG (ab 12/20),VW,Golf (VIII) (ab 12/19),96,32735.0,441.0,818.18,2.0,1.038462,0.0,...,10.40,1.10,4.04,1.40,7.07,23.20,32.43,4.0,274.295886,119.341928
4129,VW Golf 2.0 TDI SCR Style DSG (ab 09/20),VW,Golf (VIII) (ab 12/19),110,38555.0,446.0,1086.96,2.0,1.038462,0.0,...,8.72,2.20,2.12,3.76,4.88,22.76,23.48,4.0,273.212553,141.117235
4128,VW Golf 2.0 TDI SCR ACTIVE DSG (ab 01/21),VW,Golf (VIII) (ab 12/19),110,38035.0,434.0,1111.11,2.0,3.000000,0.0,...,8.72,1.59,2.02,3.76,5.15,23.81,24.28,4.0,272.411061,139.623552
2849,VW Golf Variant 2.0 TDI SCR Life DSG (ab 11/20),VW,Golf (VIII) Variant (ab 11/20),110,37505.0,432.0,1086.96,2.0,1.038462,0.0,...,8.72,1.59,2.12,3.41,5.39,23.98,25.10,4.0,271.055886,138.366300
1849,VW Golf Variant 1.0 eTSI Life DSG (ab 11/20),VW,Golf (VIII) Variant (ab 11/20),81,32055.0,432.0,849.06,2.0,1.038462,0.0,...,11.02,0.98,3.75,1.31,7.18,23.98,33.47,4.0,270.925886,118.316490
2847,VW Golf Variant 2.0 TDI SCR Life DSG (ab 12/20),VW,Golf (VIII) Variant (ab 11/20),85,34805.0,423.0,978.26,2.0,1.038462,0.0,...,9.57,1.22,2.12,3.15,6.04,24.77,29.25,4.0,270.505886,128.666331
2845,VW Golf Variant 1.5 eTSI Style DSG (ab 11/20),VW,Golf (VIII) Variant (ab 11/20),110,37165.0,458.0,877.19,2.0,1.038462,0.0,...,10.40,1.71,4.33,1.49,5.99,21.72,25.62,4.0,270.422553,137.433064

### Better in euro per score

In [11]:
df[df[Column.EURO_PER_SCORE] < impreza_euro_per_score].head(10)

,name,Marke,Baureihe,Leistung maximal in kW (Systemleistung),Total price,my monthly costs,Range,AEB pedestrian,navi,active headrest,...,Insurance 2,Costs service,Costs running,Costs fixed,Costs depreciation,monthly costs,price,AGR,Total Score,Euro per score
5434,VW Golf 1.4 eHybrid Style DSG (ab 08/20),VW,Golf (VIII) (ab 12/19),150,36770.0,439.0,1097.22,2.0,1.038462,0.0,...,9.57,3.29,2.31,1.22,6.45,23.37,26.23,4.0,284.492553,129.247671
5436,VW Golf GTE DSG (ab 08/20),VW,Golf (VIII) GTE (ab 08/20),180,37505.0,469.0,897.73,2.0,3.000000,0.0,...,9.57,4.27,2.98,1.22,6.42,20.76,25.10,4.0,282.814091,132.613618
1839,VW Golf 1.0 eTSI Life DSG (ab 08/20),VW,Golf (VIII) (ab 12/19),81,30945.0,427.0,865.38,2.0,1.038462,0.0,...,11.02,0.98,3.56,1.22,7.34,24.42,35.18,4.0,274.965886,112.541234
1844,VW Golf 1.5 eTSI Life DSG (ab 12/20),VW,Golf (VIII) (ab 12/19),96,32735.0,441.0,818.18,2.0,1.038462,0.0,...,10.40,1.10,4.04,1.40,7.07,23.20,32.43,4.0,274.295886,119.341928
1849,VW Golf Variant 1.0 eTSI Life DSG (ab 11/20),VW,Golf (VIII) Variant (ab 11/20),81,32055.0,432.0,849.06,2.0,1.038462,0.0,...,11.02,0.98,3.75,1.31,7.18,23.98,33.47,4.0,270.925886,118.316490
2847,VW Golf Variant 2.0 TDI SCR Life DSG (ab 12/20),VW,Golf (VIII) Variant (ab 11/20),85,34805.0,423.0,978.26,2.0,1.038462,0.0,...,9.57,1.22,2.12,3.15,6.04,24.77,29.25,4.0,270.505886,128.666331
2844,VW Golf Variant 1.5 eTSI Life DSG (ab 11/20),VW,Golf (VIII) Variant (ab 11/20),110,34880.0,450.0,877.19,2.0,1.038462,0.0,...,10.40,1.22,4.33,1.49,6.59,22.41,29.13,4.0,270.315886,129.034222
2841,VW Golf Variant 1.5 eTSI Style DSG (ab 11/20),VW,Golf (VIII) Variant (ab 11/20),96,36130.0,456.0,789.47,2.0,1.038462,0.0,...,10.40,1.59,4.33,1.49,6.31,21.89,27.21,4.0,269.842553,133.892893
3393,Hyundai IONIQ PlugIn-Hybrid Prime (ab 07/20),Hyundai,IONIQ (AE) Hybrid (ab 08/19),104,32940.0,413.0,977.27,2.0,3.000000,4.0,...,10.40,2.32,1.73,1.40,7.32,25.64,32.11,0.0,260.469841,126.463777
3392,Hyundai IONIQ PlugIn-Hybrid Style (ab 07/20),Hyundai,IONIQ (AE) Hybrid (ab 08/19),104,30440.0,413.0,977.27,2.0,3.000000,4.0,...,10.40,2.32,1.73,1.40,8.02,25.64,35.95,0.0,258.009841,117.979996

### Better in costs

In [12]:
df[df[Column.MY_M_COSTS] < impreza_costs].head(10)

,name,Marke,Baureihe,Leistung maximal in kW (Systemleistung),Total price,my monthly costs,Range,AEB pedestrian,navi,active headrest,...,Insurance 2,Costs service,Costs running,Costs fixed,Costs depreciation,monthly costs,price,AGR,Total Score,Euro per score
5434,VW Golf 1.4 eHybrid Style DSG (ab 08/20),VW,Golf (VIII) (ab 12/19),150,36770.0,439.0,1097.22,2.0,1.038462,0.0,...,9.57,3.29,2.31,1.22,6.45,23.37,26.23,4.0,284.492553,129.247671
5436,VW Golf GTE DSG (ab 08/20),VW,Golf (VIII) GTE (ab 08/20),180,37505.0,469.0,897.73,2.0,3.000000,0.0,...,9.57,4.27,2.98,1.22,6.42,20.76,25.10,4.0,282.814091,132.613618
1839,VW Golf 1.0 eTSI Life DSG (ab 08/20),VW,Golf (VIII) (ab 12/19),81,30945.0,427.0,865.38,2.0,1.038462,0.0,...,11.02,0.98,3.56,1.22,7.34,24.42,35.18,4.0,274.965886,112.541234
1844,VW Golf 1.5 eTSI Life DSG (ab 12/20),VW,Golf (VIII) (ab 12/19),96,32735.0,441.0,818.18,2.0,1.038462,0.0,...,10.40,1.10,4.04,1.40,7.07,23.20,32.43,4.0,274.295886,119.341928
4129,VW Golf 2.0 TDI SCR Style DSG (ab 09/20),VW,Golf (VIII) (ab 12/19),110,38555.0,446.0,1086.96,2.0,1.038462,0.0,...,8.72,2.20,2.12,3.76,4.88,22.76,23.48,4.0,273.212553,141.117235
4128,VW Golf 2.0 TDI SCR ACTIVE DSG (ab 01/21),VW,Golf (VIII) (ab 12/19),110,38035.0,434.0,1111.11,2.0,3.000000,0.0,...,8.72,1.59,2.02,3.76,5.15,23.81,24.28,4.0,272.411061,139.623552
2849,VW Golf Variant 2.0 TDI SCR Life DSG (ab 11/20),VW,Golf (VIII) Variant (ab 11/20),110,37505.0,432.0,1086.96,2.0,1.038462,0.0,...,8.72,1.59,2.12,3.41,5.39,23.98,25.10,4.0,271.055886,138.366300
1849,VW Golf Variant 1.0 eTSI Life DSG (ab 11/20),VW,Golf (VIII) Variant (ab 11/20),81,32055.0,432.0,849.06,2.0,1.038462,0.0,...,11.02,0.98,3.75,1.31,7.18,23.98,33.47,4.0,270.925886,118.316490
2847,VW Golf Variant 2.0 TDI SCR Life DSG (ab 12/20),VW,Golf (VIII) Variant (ab 11/20),85,34805.0,423.0,978.26,2.0,1.038462,0.0,...,9.57,1.22,2.12,3.15,6.04,24.77,29.25,4.0,270.505886,128.666331
2845,VW Golf Variant 1.5 eTSI Style DSG (ab 11/20),VW,Golf (VIII) Variant (ab 11/20),110,37165.0,458.0,877.19,2.0,1.038462,0.0,...,10.40,1.71,4.33,1.49,5.99,21.72,25.62,4.0,270.422553,137.433064

### Better in everything

In [13]:
d = df[(df[Column.TOTAL_SCORE] > impreza_total_score) & (df[Column.EURO_PER_SCORE] < impreza_euro_per_score) & (df[Column.MY_M_COSTS] < impreza_costs)]
d.to_csv('/tmp/best_car.csv')
d

,name,Marke,Baureihe,Leistung maximal in kW (Systemleistung),Total price,my monthly costs,Range,AEB pedestrian,navi,active headrest,...,Insurance 2,Costs service,Costs running,Costs fixed,Costs depreciation,monthly costs,price,AGR,Total Score,Euro per score
5434,VW Golf 1.4 eHybrid Style DSG (ab 08/20),VW,Golf (VIII) (ab 12/19),150,36770.00,439.00,1097.22,2.000000,1.038462,0.0,...,9.57,3.29,2.31,1.22,6.45,23.37,26.23,4.0,284.492553,129.247671
5436,VW Golf GTE DSG (ab 08/20),VW,Golf (VIII) GTE (ab 08/20),180,37505.00,469.00,897.73,2.000000,3.000000,0.0,...,9.57,4.27,2.98,1.22,6.42,20.76,25.10,4.0,282.814091,132.613618
1839,VW Golf 1.0 eTSI Life DSG (ab 08/20),VW,Golf (VIII) (ab 12/19),81,30945.00,427.00,865.38,2.000000,1.038462,0.0,...,11.02,0.98,3.56,1.22,7.34,24.42,35.18,4.0,274.965886,112.541234
1844,VW Golf 1.5 eTSI Life DSG (ab 12/20),VW,Golf (VIII) (ab 12/19),96,32735.00,441.00,818.18,2.000000,1.038462,0.0,...,10.40,1.10,4.04,1.40,7.07,23.20,32.43,4.0,274.295886,119.341928
1849,VW Golf Variant 1.0 eTSI Life DSG (ab 11/20),VW,Golf (VIII) Variant (ab 11/20),81,32055.00,432.00,849.06,2.000000,1.038462,0.0,...,11.02,0.98,3.75,1.31,7.18,23.98,33.47,4.0,270.925886,118.316490
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1789,Subaru Impreza 1.6i Exclusive Lineartronic (ab...,Subaru,Impreza (V) (ab 06/20),84,28560.00,571.00,632.91,2.000000,3.000000,4.0,...,8.72,2.56,7.88,3.68,8.02,11.86,38.84,0.0,220.782540,129.358055
1313,KIA XCeed 1.5 T-GDI Vision DCT7 (ab 03/21),KIA,XCeed (CD) (ab 09/19),118,29235.00,413.67,806.45,2.000000,2.884615,0.0,...,10.40,2.97,1.54,0.88,7.41,25.58,37.81,0.0,220.245568,132.738199
1800,Toyota Corolla 1.8 Hybrid Comfort (ab 09/20),Toyota,Corolla (E21) (ab 04/19),90,29560.00,403.00,955.56,2.000000,1.500000,0.0,...,8.09,0.00,2.31,2.80,7.56,26.51,37.31,0.0,218.841270,135.075071
1286,KIA Ceed 1.6 CRDi 48V Vision DCT7 (ab 03/21),KIA,Ceed (CD) (ab 06/18),100,28794.96,442.42,1086.96,1.333333,2.884615,0.0,...,10.30,2.66,2.58,1.93,7.70,23.07,38.48,0.0,218.675568,131.678908
1220,Honda Civic 1.0 Turbo Elegance CVT (ab 12/19),Honda,Civic (X) (ab 03/17),93,29010.00,507.00,723.08,2.000000,3.000000,4.0,...,8.09,1.95,5.67,2.98,7.51,17.44,38.15,0.0,216.198413,134.182299