# Finding best car
## Show top cars with least monthly costs

In [2]:
from find_best_car import (
    _get_df_with_cost_to_own, 
    Column, 
    get_scored_df
)
import pandas as pd
from numpy import nan

import seaborn as sns

def coloraze(df, axis=1):
    cm = sns.light_palette("seagreen", as_cmap=True)
    return df.style.background_gradient(cmap=cm, axis=axis)

GROUP_COLS_MARK_SERIE_KW = [Column.MARK, Column.SERIE, Column.PERFORMANCE_KW]

df = _get_df_with_cost_to_own(de_discount=True)

g = df.groupby(GROUP_COLS_MARK_SERIE_KW, as_index=False)
costs_mean = g[[Column.TOTAL_PRICE, Column.CTO]].mean()
costs_mean.sort_values(Column.CTO).head(5).round(0)

<ipython-input-2-e92f92488e7b>:17: DtypeWarning: Columns (231,232,233,234) have mixed types.Specify dtype option on import or set low_memory=False.
  df = _get_df_with_cost_to_own(de_discount=True)

,Marke,Baureihe,Leistung maximal in kW (Systemleistung),Total price,Costs to own
222,Dacia,Sandero (III) (ab 01/21),74,11815.0,472.0
224,Dacia,Sandero (III) Stepway (ab 01/21),74,13290.0,498.0
220,Dacia,Sandero (III) (ab 01/21),49,9820.0,515.0
241,Fiat,500e (FA1) (ab 11/20),70,14910.0,527.0
1082,VW,up! (ab 06/16),50,17630.0,538.0

## Cars with lowest monthly costs

In [3]:
costs_mean.sort_values(Column.CTO).round(0).head(10)

,Marke,Baureihe,Leistung maximal in kW (Systemleistung),Total price,Costs to own
222,Dacia,Sandero (III) (ab 01/21),74,11815.0,472.0
224,Dacia,Sandero (III) Stepway (ab 01/21),74,13290.0,498.0
220,Dacia,Sandero (III) (ab 01/21),49,9820.0,515.0
241,Fiat,500e (FA1) (ab 11/20),70,14910.0,527.0
1082,VW,up! (ab 06/16),50,17630.0,538.0
221,Dacia,Sandero (III) (ab 01/21),67,12080.0,540.0
855,Renault,Twingo (III) Electric (ab 01/21),60,16038.0,555.0
1128,smart,fortwo (453) EQ coupé (ab 01/20),60,17117.0,566.0
223,Dacia,Sandero (III) Stepway (ab 01/21),67,13630.0,568.0
977,Toyota,Aygo (AB1) (ab 06/18),53,15627.0,571.0

## Find missing data in input excel

In [4]:

df = get_scored_df(only_mentioned_cars=True, de_discount=True)

for col in df.columns:
    uniq_vals = df[col]
    if uniq_vals.isnull().values.any():
        print(f"Bad column: {col}")

/home/kirill/workspace/github/playground/auto/adac/best_car/find_best_car.py:386: DtypeWarning: Columns (231,232,233,234) have mixed types.Specify dtype option on import or set low_memory=False.
  _get_df_with_cost_to_own(
2021-07-29 18:12:33.739 | DEBUG    | find_best_car:get_scored_df:418 - Missing nan for km77 slalom

Bad column: Total price
Bad column: easy entry(clearance or height of seats)
Bad column: ADAC additional equipment
Bad column: boot capacity1
Bad column: price
Bad column: autoclose mirrors
Bad column: car2x
Bad column: keyless
Bad column: remote start
Bad column: safe, euroncap, iihs
Bad column: testberichte
Bad column: door till ground
Bad column: non fancy paint
Bad column: acc with buttons
Bad column: digital speed
Bad column: HIFI audio
Bad column: interior
Bad column: no piano black
Bad column: white seats
Bad column: AGR
Bad column: heating seats
Bad column: Euro per score

In [5]:
cols = ['Marke', 'Baureihe']
df[cols].drop_duplicates(subset=cols).sort_values(cols)

     Marke                             Baureihe
1396  Audi         A1 (GB) Sportback (ab 11/18)
652   Audi        A1 (GB) citycarver (ab 09/19)
2494  Audi         A3 (8Y) Limousine (ab 06/20)
3568  Audi         A3 (8Y) Sportback (ab 05/20)
2481  Audi  A3 (8Y) Sportback g-tron (ab 10/20)
...    ...                                  ...
1989    VW                     T-Roc (ab 11/17)
3068    VW           T-Roc Cabriolet (ab 03/20)
6530    VW                   T-Roc R (ab 09/19)
5509    VW               Tiguan (II) (ab 09/20)
6449    VW      Tiguan (II) Allspace (ab 05/21)

[81 rows x 2 columns]

# Most suitable cars

In [6]:
top = df.filter([Column.NAME, Column.CTO, Column.TOTAL_SCORE])
top.head(10)

,name,Costs to own,Total Score
4797,Skoda Kodiaq 2.0 TDI SCR Clever 4x4 DSG (ab 06...,734.21,390.192143
2234,KIA Ceed Sportswagon 1.5 T-GDI Platinum Editio...,888.00,384.989524
2235,KIA Ceed Sportswagon 1.5 T-GDI 48V Platinum Ed...,887.00,384.774524
4790,Skoda Kodiaq 2.0 TSI Clever 4x4 DSG (ab 06/21)*,734.21,384.722143
6449,VW Tiguan Allspace 2.0 TDI SCR Elegance 4MOTIO...,1115.00,384.662143
3495,Skoda Kodiaq 1.5 TSI ACT Clever DSG (ab 06/21)*,734.21,382.345476
1232,KIA Ceed Sportswagon 1.5 T-GDI 48V Spirit DCT7...,858.00,382.329286
1233,KIA Ceed Sportswagon 1.5 T-GDI 48V GT Line DCT...,867.00,381.119286
6087,Skoda Octavia Combi RS Plus 2.0 TDI SCR 4x4 DS...,1055.00,380.527857
6051,Skoda Kodiaq 2.0 TDI SCR L&K 4x4 DSG (ab 06/21)*,734.21,380.367857

## Most suitable car sorted by euro per 1 score point

In [7]:
VIEW_COLUMNS = [Column.NAME, Column.TOTAL_PRICE, Column.TOTAL_SCORE, Column.EURO_PER_SCORE]
VIEW_LIMIT = 10

top = df.filter(VIEW_COLUMNS).sort_values(Column.EURO_PER_SCORE)
top.head(VIEW_LIMIT)

,name,Total price,Total Score,Euro per score
285,Ford Fiesta 1.0 EcoBoost Start/Stopp ST-Line (...,16900.00,301.245794,56.100368
87,Ford Fiesta 1.0 EcoBoost Start/Stopp ST-Line (...,16900.00,301.245794,56.100368
286,Ford Fiesta 1.0 EcoBoost Start/Stopp ST-Line X...,17950.00,306.372460,58.588817
30,Renault Clio SCe 65 Life (ab 08/20)*,15800.00,251.428333,62.840969
282,Ford Fiesta 1.1 Start/Stopp Cool & Connect (ab...,17350.00,270.113571,64.232241
141,Renault Clio SCe 65 Zen (ab 05/21)*,17650.00,268.910238,65.635285
147,Renault Clio TCe 90 Intens (ab 08/20)*,20400.00,307.972460,66.239689
313,Opel Corsa 1.2 Elegance (ab 10/20)*,19915.00,298.632460,66.687325
142,Renault Clio SCe 65 Business Edition (ab 08/20)**,18557.69,278.213571,66.703036
288,Ford Fiesta 1.1 Start/Stopp Cool & Connect (ab...,18150.00,268.933571,67.488785

## Compare top cars

In [8]:
coloraze(df[df['name'].isin(top['name'])].head(VIEW_LIMIT), axis=0)

/home/kirill/workspace/github/playground/.venv/lib/python3.9/site-packages/pandas/io/formats/style.py:1264: RuntimeWarning: All-NaN slice encountered
  smin = np.nanmin(s.to_numpy()) if vmin is None else vmin
/home/kirill/workspace/github/playground/.venv/lib/python3.9/site-packages/pandas/io/formats/style.py:1265: RuntimeWarning: All-NaN slice encountered
  smax = np.nanmax(s.to_numpy()) if vmax is None else vmax

## Cars with total score(group by mark and serie)

In [9]:
g = df.groupby(GROUP_COLS_MARK_SERIE_KW, as_index=False)
costs_mean = g[[Column.TOTAL_PRICE, Column.TOTAL_SCORE]].agg({Column.TOTAL_PRICE: 'mean', Column.TOTAL_SCORE: 'mean'})
costs_mean.sort_values(Column.TOTAL_SCORE, ascending=False).head(10).round(2)

,Marke,Baureihe,Leistung maximal in kW (Systemleistung),Total price,Total Score
273,VW,Tiguan (II) Allspace (ab 05/21),147,52190.00,384.66
272,VW,Tiguan (II) Allspace (ab 05/21),140,49625.00,379.21
274,VW,Tiguan (II) Allspace (ab 05/21),180,52155.00,377.96
269,VW,Tiguan (II) (ab 09/20),147,47617.86,367.92
204,Skoda,Kodiaq (ab 06/21),147,49649.14,367.52
268,VW,Tiguan (II) (ab 09/20),140,44172.86,366.72
270,VW,Tiguan (II) (ab 09/20),180,44613.00,364.75
218,Skoda,Octavia (IV) RS Combi (ab 09/20),147,47350.00,362.50
203,Skoda,Kodiaq (ab 06/21),140,46889.14,362.03
271,VW,Tiguan (II) Allspace (ab 05/21),110,45240.00,361.13

## Cars better than best Subaru Impreza

In [10]:
# NOTE should be sorted
imprezas = df[df[Column.NAME].str.contains('Subaru Impreza 2.0i Exclusive')]

top_impreza = imprezas.iloc[0]
impreza_euro_per_score = top_impreza[Column.EURO_PER_SCORE]
impreza_total_score = top_impreza[Column.TOTAL_SCORE]

# imprezas
top_impreza.to_dict()

# NOTE: Total Score should be set!!!

{'name': 'Subaru Impreza 2.0i Exclusive Lineartronic (01/18 - 08/18)*',
 'Marke': 'Subaru',
 'Baureihe': 'Impreza (V) (01/18 - 04/20)',
 'Leistung maximal in kW (Systemleistung)': 115,
 'Total price': 29050.0,
 'Costs to own': 931.0,
 'Range': 647.25,
 'active headrest': 7.0,
 '4x4': 10.0,
 'cruise control': 20.0,
 'Acceleration <10': 5.75,
 'Costs running': 6.1,
 'easy entry(clearance or height of seats)': 7.1,
 'Bremsassistent': 7.0,
 'plugin hybrid': 1.3333333333333333,
 'autoparking': 0.0,
 'Camera, 360, front, back': 4.285714285714286,
 'noise': 4.5,
 'light autoswitch': 10.0,
 'Costs fixed': 6.51,
 'AEB pedestrian': 7.0,
 'Garantie y': 13.125,
 'automat not CVT': 1.75,
 'Insurance 1': 2.54,
 'Top speed': 3.16,
 'ADAC additional equipment': 18.64,
 'climatecontrol': 8.0,
 'boot capacity1': 9.57,
 'boot capacity2': 9.02,
 'adaptive lights': 10.0,
 'small length': 4.4,
 'LED lights': 10.0,
 'light sensor': 10.0,
 'plugin hybrid 2': 1.75,
 'navi ': 10.0,
 'AEB': 10.0,
 'ecall': 0.0,
 'rear traffic alert': 10.0,
 'range up to 1000 km per tank': 6.71,
 'rain sensor': 10.0,
 'seats': 30.0,
 'lane keep assist active': 10.0,
 'Traffic jam': 0.0,
 'price': 25.9,
 'traffic sign recognition': 0.0,
 'Insurance 2': 5.09,
 'Costs service': 4.84,
 'Costs depreciation': 6.86,
 'mobile warranty': 0.0,
 'adaptive cruise from 0 km': 1.0,
 'autoclose mirrors': nan,
 'car2x': 0.0,
 'keyless': 1.0,
 'LED matrix': 0.0,
 'remote start ': nan,
 'safe, euroncap, iihs': 0.89,
 'km77 elktest': 0.91,
 'testberichte': 0.09,
 'door till ground': 0.0,
 'license on back bumper': 0.0,
 'non fancy paint': nan,
 'side mirrors on door': 0.5,
 'acc with buttons': 1.0,
 'digital speed': 0.0,
 'HIFI audio': 0.0,
 'interior': 0.67,
 'no piano black': 0.33,
 'white seats': 0.0,
 'AGR': 0.0,
 'heating seats': nan,
 'Total Score': 334.32404761904763,
 'Euro per score': 86.89174531980306}

### Better in score

In [11]:
df[df[Column.TOTAL_SCORE] > impreza_total_score][VIEW_COLUMNS].head(VIEW_LIMIT)

,name,Total price,Total Score,Euro per score
4797,Skoda Kodiaq 2.0 TDI SCR Clever 4x4 DSG (ab 06...,48554.14,390.192143,124.436488
2234,KIA Ceed Sportswagon 1.5 T-GDI Platinum Editio...,36086.36,384.989524,93.733356
2235,KIA Ceed Sportswagon 1.5 T-GDI 48V Platinum Ed...,36836.36,384.774524,95.734925
4790,Skoda Kodiaq 2.0 TSI Clever 4x4 DSG (ab 06/21)*,45794.14,384.722143,119.031724
6449,VW Tiguan Allspace 2.0 TDI SCR Elegance 4MOTIO...,52190.00,384.662143,135.677505
3495,Skoda Kodiaq 1.5 TSI ACT Clever DSG (ab 06/21)*,41594.14,382.345476,108.786798
1232,KIA Ceed Sportswagon 1.5 T-GDI 48V Spirit DCT7...,31610.00,382.329286,82.677423
1233,KIA Ceed Sportswagon 1.5 T-GDI 48V GT Line DCT...,32510.00,381.119286,85.301377
6087,Skoda Octavia Combi RS Plus 2.0 TDI SCR 4x4 DS...,49295.00,380.527857,129.543735
6051,Skoda Kodiaq 2.0 TDI SCR L&K 4x4 DSG (ab 06/21)*,52264.14,380.367857,137.404197

### Better in euro per score

In [12]:
df[df[Column.EURO_PER_SCORE] < impreza_euro_per_score][VIEW_COLUMNS].head(VIEW_LIMIT)

,name,Total price,Total Score,Euro per score
1232,KIA Ceed Sportswagon 1.5 T-GDI 48V Spirit DCT7...,31610.00,382.329286,82.677423
1233,KIA Ceed Sportswagon 1.5 T-GDI 48V GT Line DCT...,32510.00,381.119286,85.301377
1228,KIA Ceed Sportswagon 1.5 T-GDI Spirit DCT7 (ab...,30860.00,378.064286,81.626330
1230,KIA Ceed Sportswagon 1.5 T-GDI GT Line DCT7 (a...,31760.00,376.834286,84.281078
1197,KIA Ceed 1.5 T-GDI Spirit DCT7 (ab 03/21)*,29460.00,355.824286,82.793674
1201,KIA Ceed 1.5 T-GDI 48V Spirit DCT7 (ab 03/21)*,30210.00,354.979286,85.103557
1199,KIA Ceed 1.5 T-GDI GT Line DCT7 (ab 03/21)*,30360.00,354.544286,85.631052
1719,Ford Focus Turnier 1.0 EcoBoost Hybrid Titaniu...,30410.00,352.825079,86.190018
1535,Ford Fiesta 1.0 EcoBoost Hybrid Start/Stopp Vi...,28440.13,346.609524,82.052362
1604,Toyota Corolla Touring Sports 1.2T Team Deutsc...,27860.00,345.265714,80.691476

### Better in everything

In [16]:
d = df[(df[Column.TOTAL_SCORE] >= impreza_total_score) & (df[Column.EURO_PER_SCORE] <= impreza_euro_per_score)]
d[VIEW_COLUMNS].head(VIEW_LIMIT)

,name,Total price,Total Score,Euro per score
1232,KIA Ceed Sportswagon 1.5 T-GDI 48V Spirit DCT7...,31610.00,382.329286,82.677423
1233,KIA Ceed Sportswagon 1.5 T-GDI 48V GT Line DCT...,32510.00,381.119286,85.301377
1228,KIA Ceed Sportswagon 1.5 T-GDI Spirit DCT7 (ab...,30860.00,378.064286,81.626330
1230,KIA Ceed Sportswagon 1.5 T-GDI GT Line DCT7 (a...,31760.00,376.834286,84.281078
1197,KIA Ceed 1.5 T-GDI Spirit DCT7 (ab 03/21)*,29460.00,355.824286,82.793674
1201,KIA Ceed 1.5 T-GDI 48V Spirit DCT7 (ab 03/21)*,30210.00,354.979286,85.103557
1199,KIA Ceed 1.5 T-GDI GT Line DCT7 (ab 03/21)*,30360.00,354.544286,85.631052
1719,Ford Focus Turnier 1.0 EcoBoost Hybrid Titaniu...,30410.00,352.825079,86.190018
1535,Ford Fiesta 1.0 EcoBoost Hybrid Start/Stopp Vi...,28440.13,346.609524,82.052362
1604,Toyota Corolla Touring Sports 1.2T Team Deutsc...,27860.00,345.265714,80.691476

In [17]:
coloraze(d, axis=0).to_excel('/tmp/best_cars.xlsx')

/home/kirill/workspace/github/playground/.venv/lib/python3.9/site-packages/pandas/io/formats/style.py:1264: RuntimeWarning: All-NaN slice encountered
  smin = np.nanmin(s.to_numpy()) if vmin is None else vmin
/home/kirill/workspace/github/playground/.venv/lib/python3.9/site-packages/pandas/io/formats/style.py:1265: RuntimeWarning: All-NaN slice encountered
  smax = np.nanmax(s.to_numpy()) if vmax is None else vmax