# Most suitable car between all cars

In [1]:
from find_best_car import (
    _get_df_with_cost_to_own, 
    Column, 
    get_scored_df
)
import pandas as pd
from numpy import nan

import seaborn as sns

def coloraze(df, axis=1):
    cm = sns.light_palette("seagreen", as_cmap=True)
    return df.style.background_gradient(cmap=cm, axis=axis)

df = get_scored_df(only_mentioned_cars=False, de_discount=True)

df.head()

/home/kirill/workspace/github/playground/auto/adac/best_car/find_best_car.py:376: DtypeWarning: Columns (231,232,233,234) have mixed types.Specify dtype option on import or set low_memory=False.
  df = _get_df_with_cost_to_own(

,name,Marke,Baureihe,Leistung maximal in kW (Systemleistung),Total price,my monthly costs,Range,AEB pedestrian,navi,active headrest,...,Costs service,Costs running,Costs fixed,Costs depreciation,monthly costs,price,AGR,ADAC additional equipment,Total Score,Euro per score
4773,VW Golf GTE DSG (ab 08/20),VW,Golf (VIII) GTE (ab 08/20),180,37505.0,475.0,897.73,5.0,3.000000,0.0,...,6.69,4.02,2.38,6.91,20.90,27.91,2.5,17.68,370.410575,101.252509
3444,VW Golf 1.4 eHybrid Style DSG (ab 08/20),VW,Golf (VIII) (ab 12/19),150,36770.0,443.0,1097.22,5.0,1.263158,0.0,...,5.24,3.05,2.38,6.93,23.46,28.84,2.5,15.57,370.233733,99.315640
2346,VW Golf 2.0 TDI SCR Style DSG (ab 09/20),VW,Golf (VIII) (ab 12/19),110,38555.0,458.0,1086.96,5.0,1.263158,0.0,...,3.43,3.41,6.45,5.87,22.26,26.57,2.5,15.57,362.433733,106.378067
3445,VW Golf 2.0 TDI SCR ACTIVE DSG (ab 01/21),VW,Golf (VIII) (ab 12/19),110,38035.0,444.0,1111.11,5.0,3.000000,0.0,...,2.53,3.17,6.45,6.05,23.38,27.23,2.5,17.42,361.178909,105.307921
3501,VW Golf GTD DSG (ab 10/20),VW,Golf (VIII) GTD (ab 10/20),147,41530.0,495.0,961.54,5.0,3.000000,0.0,...,4.16,4.63,7.71,5.56,19.31,22.77,2.5,17.07,361.020575,115.034995

In [2]:
imprezas = df[df[Column.NAME].str.contains('Subaru Impreza')]

top_impreza = imprezas.iloc[0]
impreza_euro_per_score = top_impreza[Column.EURO_PER_SCORE]
impreza_total_score = top_impreza[Column.TOTAL_SCORE]
impreza_costs = top_impreza[Column.MY_M_COSTS]

# imprezas
top_impreza.to_dict()

{'name': 'Subaru Impreza 1.6i Exclusive Lineartronic (ab 10/20)',
 'Marke': 'Subaru',
 'Baureihe': 'Impreza (V) (ab 06/20)',
 'Leistung maximal in kW (Systemleistung)': 84,
 'Total price': 28560.0,
 'my monthly costs': 593.0,
 'Range': 632.91,
 'AEB pedestrian': 5.0,
 'navi ': 3.0,
 'active headrest': 5.0,
 'light autoswitch': 5.0,
 'car2x': 0.0,
 'Bremsassistent': 10.0,
 'lane keep assist active': 10.0,
 'autoparking': 0.0,
 'LED lights': 10.0,
 'adaptive lights': 10.0,
 'traffic sign recognition': 0.0,
 'AEB': 10.0,
 'rear traffic alert': 10.0,
 'Traffic jam': 0.0,
 'LED matrix': 0.0,
 'keyless': 10.0,
 'Camera, 360, front, back': 12.857142857142856,
 'adaptive cruise from 0 km': 10.0,
 'safe, euroncap, iihs': 17.82,
 'plugin hybrid': 0,
 'automat not CVT': 3.333333333333333,
 '4x4': 0.0,
 'plugin hybrid 2': 1.4000000000000001,
 'Top speed': 1.82,
 'km77 elktest': 5.33,
 'testberichte': 0.67,
 'Acceleration <10': 2.08,
 'range up to 1000 km per tank': 5.48,
 'side mirrors on door': 5.0,
 'door till ground': 0.0,
 'license on back bumper': 0.0,
 'small length': 3.53,
 'boot size,Fit 156 snowboard ': 0.49,
 'noise': 6.92,
 'acc with buttons': 5.0,
 'no piano black': 1.67,
 'easy entry(clearance or height of seats)': 2.9,
 'digital speed': 0.0,
 'HIFI audio': 0.0,
 'white seats': 0.0,
 'interior': 6.67,
 'mobile warranty': 0.0,
 'Garantie y': 7.5,
 'Insurance 1': 2.33,
 'Insurance 2': 15.0,
 'Costs service': 3.98,
 'Costs running': 11.34,
 'Costs fixed': 6.31,
 'Costs depreciation': 7.98,
 'monthly costs': 11.49,
 'price': 39.31,
 'AGR': 0.0,
 'ADAC additional equipment': 19.34,
 'Total Score': 305.5504761904762,
 'Euro per score': 93.47064470682109}

### Better in score

In [3]:
VIEW_COLUMNS = [Column.NAME, Column.TOTAL_PRICE, Column.TOTAL_SCORE, Column.EURO_PER_SCORE]
VIEW_LIMIT = 10

df[df[Column.TOTAL_SCORE] > impreza_total_score][VIEW_COLUMNS].head(VIEW_LIMIT)

,name,Total price,Total Score,Euro per score
4773,VW Golf GTE DSG (ab 08/20),37505.0,370.410575,101.252509
3444,VW Golf 1.4 eHybrid Style DSG (ab 08/20),36770.0,370.233733,99.315640
2346,VW Golf 2.0 TDI SCR Style DSG (ab 09/20),38555.0,362.433733,106.378067
3445,VW Golf 2.0 TDI SCR ACTIVE DSG (ab 01/21),38035.0,361.178909,105.307921
3501,VW Golf GTD DSG (ab 10/20),41530.0,361.020575,115.034995
2342,VW Golf 2.0 TDI SCR ACTIVE DSG (ab 01/21),35335.0,360.808909,97.932726
2344,VW Golf 2.0 TDI SCR Life DSG (ab 09/20),36395.0,360.603733,100.927962
2339,VW Golf 1.5 eTSI Style DSG (ab 09/20),35930.0,359.383733,99.976701
1365,VW Golf 2.0 TDI SCR Life DSG (ab 12/20),33695.0,359.093733,93.833439
2336,VW Golf 1.5 eTSI Style DSG (ab 12/20),34895.0,359.013733,97.196839

### Better in euro per score

In [4]:
df[df[Column.EURO_PER_SCORE] < impreza_euro_per_score][VIEW_COLUMNS].head(VIEW_LIMIT)

,name,Total price,Total Score,Euro per score
1357,VW Golf 1.5 eTSI Life DSG (ab 12/20),32735.0,356.963733,91.703994
3149,Tesla Model 3 Standard Range Plus (ab 07/20),32040.0,350.583036,91.390617
1201,KIA Ceed 1.5 T-GDI 48V Spirit DCT7 (ab 03/21),30210.0,346.727114,87.129038
1197,KIA Ceed 1.5 T-GDI Spirit DCT7 (ab 03/21),29460.0,346.507114,85.019900
1202,KIA Ceed 1.5 T-GDI 48V GT Line DCT7 (ab 03/21),31110.0,345.367114,90.078061
1199,KIA Ceed 1.5 T-GDI GT Line DCT7 (ab 03/21),30360.0,345.167114,87.957395
1351,VW Golf 1.0 eTSI Life DSG (ab 08/20),30945.0,340.453733,90.893408
3678,Hyundai IONIQ PlugIn-Hybrid Style-Paket (ab 07...,30440.0,337.180595,90.278030
2541,SEAT Leon 1.4 e-HYBRID XCellence DSG (ab 10/20),30755.0,330.389105,93.087210
2540,SEAT Leon 1.4 e-HYBRID FR DSG (ab 10/20),30705.0,330.189105,92.992166

### Better in costs

In [5]:
df[df[Column.MY_M_COSTS] < impreza_costs][VIEW_COLUMNS].head(VIEW_LIMIT)

,name,Total price,Total Score,Euro per score
4773,VW Golf GTE DSG (ab 08/20),37505.0,370.410575,101.252509
3444,VW Golf 1.4 eHybrid Style DSG (ab 08/20),36770.0,370.233733,99.315640
2346,VW Golf 2.0 TDI SCR Style DSG (ab 09/20),38555.0,362.433733,106.378067
3445,VW Golf 2.0 TDI SCR ACTIVE DSG (ab 01/21),38035.0,361.178909,105.307921
3501,VW Golf GTD DSG (ab 10/20),41530.0,361.020575,115.034995
2342,VW Golf 2.0 TDI SCR ACTIVE DSG (ab 01/21),35335.0,360.808909,97.932726
2344,VW Golf 2.0 TDI SCR Life DSG (ab 09/20),36395.0,360.603733,100.927962
2339,VW Golf 1.5 eTSI Style DSG (ab 09/20),35930.0,359.383733,99.976701
1365,VW Golf 2.0 TDI SCR Life DSG (ab 12/20),33695.0,359.093733,93.833439
2336,VW Golf 1.5 eTSI Style DSG (ab 12/20),34895.0,359.013733,97.196839

### Better in everything

In [6]:
d = df[(df[Column.TOTAL_SCORE] > impreza_total_score) & (df[Column.EURO_PER_SCORE] < impreza_euro_per_score) & (df[Column.MY_M_COSTS] < impreza_costs)]
d[VIEW_COLUMNS].head(VIEW_LIMIT)

,name,Total price,Total Score,Euro per score
1357,VW Golf 1.5 eTSI Life DSG (ab 12/20),32735.0,356.963733,91.703994
3149,Tesla Model 3 Standard Range Plus (ab 07/20),32040.0,350.583036,91.390617
1201,KIA Ceed 1.5 T-GDI 48V Spirit DCT7 (ab 03/21),30210.0,346.727114,87.129038
1197,KIA Ceed 1.5 T-GDI Spirit DCT7 (ab 03/21),29460.0,346.507114,85.019900
1202,KIA Ceed 1.5 T-GDI 48V GT Line DCT7 (ab 03/21),31110.0,345.367114,90.078061
1199,KIA Ceed 1.5 T-GDI GT Line DCT7 (ab 03/21),30360.0,345.167114,87.957395
1351,VW Golf 1.0 eTSI Life DSG (ab 08/20),30945.0,340.453733,90.893408
3678,Hyundai IONIQ PlugIn-Hybrid Style-Paket (ab 07...,30440.0,337.180595,90.278030
2541,SEAT Leon 1.4 e-HYBRID XCellence DSG (ab 10/20),30755.0,330.389105,93.087210
2540,SEAT Leon 1.4 e-HYBRID FR DSG (ab 10/20),30705.0,330.189105,92.992166

In [7]:
coloraze(d, axis=0).to_excel('/tmp/best_car_all.xlsx')